* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Shadows Into Light', cursive;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    color: #231B4B;
}
h2 {
    font-size: 30px;
    color: white;
}

p {
    font-family: 'Playfair Display', serif;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.info-btn {
    padding: 10px 20px;
    background-color: #A5AEED;
    color: #231B4B;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    width: 400px;
    height: 25px;
    background-color: #A5AEED;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

}
.info-btn:hover {
    transform: translateY(-8px);
    background-color: white;
}

.circular-image {
    width: 250px;  /* Set the width/height to your desired size */
    height: 250px;
    border-radius: 50%;  /* This creates the circle shape */
    overflow: hidden;  /* This hides anything outside the circle */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circular-image img {
    width: 170%;
    height: 170%;
    object-fit: cover;  /* This ensures the image fills the container */
  }

  .circles {
    width: 160px;
    height: 160px;
    background-color: #A5AEED;
    font-size: 32;
    font-family: "Playfair Display", serif;
    border-style: solid;
    border-color: #231B4B;
    border-radius: 50%;
    padding:20px;
    margin: 30px;
    cursor: pointer;
    display: flex;              /* Use flexbox to center the text */
    justify-content: center;    /* Horizontally center the text */
    align-items: center;        /* Vertically center the text */
    transition: background-color 0.3s ease; 
  }

  .circles:hover {
    transform: translateY(-8px);
    background-color: #8F9CF6;
  }
  /* Projects buttons (bigger squares that link to my vitamins) */
  .project-btn {
    width: 350;
    height: 200;
    padding: 10px 20px;
    background-color: #A5AEED;
    color: #231B4B;
    font-family: "Playfair Display", serif;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    background-color: #A5AEED;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
  }

  .goHome {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 30px;
    background-color: white;
    color: black;
  }
  .goHome:hover {
    background-color: #8F9CF6;
  }
