* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Shadows Into Light', cursive;
}
h1 {
    font-size: larger;
    color: 231B4B;
}
h2 {
    font-size: large;
    color: white;
}

p {
    font-family: 'Playfair Display', serif;
}

.container {

}